<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-bg">


      <ul class="list-unstyled components border-line-home-head" id="accordion-one">
        <li class=" Click-active active-display">
          <a href="#DashboardSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Dashboard
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="DashboardSubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>

        <li class="active Click-active active-display">
          <a  href="#EmployeeSubmenu" router='["/employee"]' data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Employee
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="EmployeeSubmenu"
            data-parent="#accordion-one">
         <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Users</span></a>
            </li> 
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#ShitSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Shift
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="ShitSubmenu"
            data-parent="#accordion-one">
            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Day</span></a>
            </li> 
            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Night</span></a>
            </li> 
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#CartonUSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one arrow-icon">Carton Utilization
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="CartonUSubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#GranulUtilizationSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Granul Utilization
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="GranulUtilizationSubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>



        <li class="active Click-active active-display">
          <a href="#RolesCreatedSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Roles Created
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="RolesCreatedSubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#KitsCreatedSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Kits Created
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="KitsCreatedSubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#SEEMSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Shiftwise Employee on Each Machine
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="SEEMSubmenu"
            data-parent="#accordion-one">
            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Day</span></a>
            </li> 
            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Night</span></a>
            </li> 
          </ul>
        </li>



        <li class="active Click-active active-display">
          <a href="#ProductionSummarySubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Production Summary
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="ProductionSummarySubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>



        <li class="active Click-active active-display">
          <a href="#QASummarySubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">QA Summary
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="QASummarySubmenu"
            data-parent="#accordion-one">
           <!--  <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text"></span></a>
            </li> -->
          
          </ul>
        </li>


        <li class="active Click-active active-display">
          <a href="#InwardsSubmenu" data-toggle="collapse" aria-expanded="true"
            class="Click-active-one  arrow-icon">Inwards
          </a>
          <ul class="collapse list-unstyled border-line-home" style="position:relative" id="InwardsSubmenu"
            data-parent="#accordion-one">
            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Cartons</span></a>
            </li>

            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Bags-Plastic?Covers</span></a>
            </li>

            <li class="Click-active">
              <a class="Click-active-one item-link">
                <span class="link-text">Granuls</span></a>
            </li>
          
          </ul>
        </li>

      </ul>


    </div>
  </nav>

  <!-- Page Content -->

  <div class="container-fluid">
   
    <div class="p-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>